<div class="container">
  <div class="row" id="show-subject">
    <div class="col-md-4">
      <div class="panel panel-primary" id="panel-subject-show">
        <div class="panel-heading">
          <h2 class="flow-text center-align">
            <%= @user_course.course.name %>
          </h2>
        </div>
        <div class="panel-body">
          <%= @user_course.course.description %>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="row">
        <h3 class="flow-text center-align">
          <%= t "view.user_course.show.user_subject" %>
        </h3>
      </div>
      </br>
      <div class="row">
        <table id="mytable" class="table table-bordred table-striped">
          <thead>
            <th><%= t "view.user_course.show.user_subject_name" %></th>
            <th><%= t "view.user_course.show.user_subject_action" %></th>
          </thead>
          <tbody>
            <%= render(partial: "user_subject_course", collection: @user_subjects,
              as: :user_subject) || t("view.user_course.show.no_user_subjetc_displayed")  %>
          </tbody>
        </table>
      </div>
      <%= paginate @user_subjects %>
    </div>
  </div>
</div>
