<tr>
  <td><%= link_to course.name, [:supervisor, course] %></td>
  <td><%= course.description %></td>
  <td><%= course.duration %></td>
  <td>
    <span class="label label-<%= course.status_label %>"><%= course.status_content %></span>
  </td>
  <td class="col-ations text-right">
    <p data-placement="top" data-toggle="tooltip">
      <%= link_to t("view.supervisor.course.index.edit"),
        edit_supervisor_course_path(course),
        class: "btn btn-primary btn-xs glyphicon glyphicon-pencil" %>
    </p>
  </td>
  <td>
    <p data-placement="top" data-toggle="tooltip">
      <%= link_to t("view.supervisor.course.index.delete"), [:supervisor, course],
        method: :delete, data: {confirm: t("view.supervisor.course.index.confirm")},
        class: "btn btn-danger btn-xs glyphicon glyphicon-remove" %>
    </p>
  </td>
  <td></td>
</tr>
