<div class="card form-card">
  <h3><%= yield :form_header %></h3>
  <%= form_for @user, html: {multipart: true} do |f| %>
    <%= render partial: "shared/error_messages", locals: {object: @user}  %>

    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>

    <%= f.label :email %>
    <%= f.email_field :email, class: "form-control" %>

    <%= f.label :password %>
    <%= f.password_field :password, class: "form-control" %>

    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, class: "form-control" %>

    <%= f.label :avatar %>
    <%= f.file_field :avatar, accept: "image/jpeg,image/gif,image/png" %>
    <br>
    <%= f.submit yield(:button_text), class: "btn btn-primary" %>
  <% end %>
</div>
