<div class="container card">
  <div class="row min-height">
    <div class="row user-index-header">
      <div class="col-md-8">
        <h2><%= t "view.supervisor.user.index.list_all_user" %></h2>
      </div>
      <div class="col-md-4">
        <div>
          <br>
          <%= search_form_for [:supervisor, @search], class: "form-inline" do |f| %>
            <%= f.text_field :name_cont, placeholder: t("view.search_user.name"),
              class: "form-control search_select" %>
            <%= f.submit t("view.search"), class: "btn btn-info margin_left_btn_submit" %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="table-responsive">
        <%= link_to t("view.supervisor.user.index.add_new_user"),
          new_supervisor_user_path, class: "btn btn-primary" %>
        <table id="mytable" class="table table-bordred table-striped">
          <thead>
            <th><%= sort_link @search, :name, t("view.supervisor.user.index.name") %></th>
            <th><%= sort_link @search, :email, t("view.supervisor.user.index.email") %></th>
            <th><%= sort_link @search, :role, t("view.supervisor.user.index.role") %></th>
            <th></th>
            <th><%= t "view.supervisor.user.index.action" %></th>
            <th></th>
          </thead>
          <tbody>
            <%= render(partial: "user", collection: @users, as: :user) || t("view
              .supervisor.user.index.no_user_display") %>
          </tbody>
        </table>
      </div>
      <%= paginate @users %>
    </div>
  </div>
</div>
