<tr>
  <td><%= link_to subject.name, supervisor_subject_path(subject) %></td>
  <td><%= subject.description %></td>
  <td class="duration"><%= subject.duration %></td>
  <td class="col-ations text-right">
    <p data-placement="top" data-toggle="tooltip">
      <%= link_to t("view.supervisor.subject.index.edit"),
        edit_supervisor_subject_path(subject),
        class: "btn btn-primary btn-xs glyphicon glyphicon-pencil" %>
    </p>
  </td>
  <td>
    <p data-placement="top" data-toggle="tooltip">
      <%= link_to t("view.supervisor.subject.index.delete"),
        [:supervisor, subject], method: :delete,
        data: {confirm: t("view.supervisor.subject.index.confirm")},
        class: "btn btn-danger btn-xs glyphicon glyphicon-remove" %>
    </p>
  </td>
</tr>
