<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2><%= t "view.supervisor.subject.index.list_all_subject" %></h2>
      </br>
      <div class="table-responsive">
        <%= link_to t("view.supervisor.subject.index.add_new_subject"), "#",
          class: "btn btn-primary" %>
        </br>
        <table id="mytable" class="table table-bordred table-striped">
          <thead>
            <th><%= t "view.supervisor.subject.index.name" %></th>
            <th><%= t "view.supervisor.subject.index.description" %></th>
            <th><%= t "view.supervisor.subject.index.duration" %></th>
            <th></th>
            <th><%= t "view.supervisor.subject.index.action" %></th>
            <th></th>
          </thead>
          <tbody>
            <%= render(partial: "subject", collection: @subjects, as: :subject) || t("view
              .supervisor.subject.index.no_subject_display") %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<%= paginate @subjects %>
