<div class="col-md-4">
  <div class="card">
    <center>
      <h3 class="course-name">
        <%= @user_subject.subject.name %>
      </h3>
    </center>
    <span>
      <strong><%= t "view.supervisor.subject.index.duration" %></strong>
      <%= @user_subject.subject.duration %>
    </span>
  </div>
  </br>
  <div class="card">
    <h3><%= t "view.supervisor.course.show.all_activities_on_course" %></h3>
    <ul class="list-group">
      <% @activities.each do |activity| %>
        <li class="list-group-item">
          <%= render_activity activity %>
        </li>
      <% end %>
    </ul>
  <%= paginate @activities, param_name: Settings.activity.activity_param %>
  </div>
</div>

<div class="col-md-8">
  <div class="card">
    <%= form_for @user_subject, url: user_course_user_subject_path, method: :put do |f| %>
      <%= f.hidden_field :id %>
      <%= f.fields_for :user_tasks do |builder| %>
        <div class="panel panel-primary panel-body user-subject-task">
          <% if builder.object.new_record? %>
            <%= builder.hidden_field :user_id %>
            <%= builder.check_box :task_id, {checked: false},
              builder.object.task.id, nil %>
            <h4><%= builder.object.task.name %></h4>
          <% else %>
            <%= builder.hidden_field :user_id %>
            <%= builder.check_box :task_id, {checked: true, disabled: true} %>
            <h4><%= builder.object.task.name %></h4>
          <% end %>
        </div>
      <% end %>

        <div class="text-center">
          <% if @user_subject.finished? %>
          <h3>
            <span class="label label-success">
              <%= t("view.user_subject.show.finish") %>
            </span>
          </h3>
          <% else %>
            <%= f.submit t("view.user_subject.show.update"), class: "btn btn-primary" %>
          <% end %>
        </div>
    <% end %>
  </div>
</div>
