<div class="subject-name"><h1><%= @user_subject.subject.name %></h1></div>

<div class="row">
  <%= form_for @user_subject, url: user_course_user_subject_path, method: :put do |f| %>
    <%= f.hidden_field :id %>
    <%= f.fields_for :user_tasks do |builder| %>
      <div class="col-md-2 panel panel-primary panel-body user-subject-task">
        <% if builder.object.new_record? %>
          <%= builder.hidden_field :user_id %>
          <%= builder.check_box :task_id, {checked: false},
            builder.object.task.id, nil %>
          <h4><%= builder.object.task.name %></h4>
        <% else %>
          <%= builder.hidden_field :user_id %>
          <%= builder.check_box :task_id, {checked: true, disabled: true} %>
          <h4><%= builder.object.task.name %></h4>
        <% end %>
      </div>
    <% end %>

    <div class="col-md-12">
      <div class="text-center col-md-12">
        <% if @user_subject.finished? %>
          <%= link_to t("view.user_subject.show.finish"), "#", class: "btn btn-success" %>
        <% else %>
          <%= f.submit t("view.user_subject.show.update"), class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<div class="user-subject-description">
  <h3><%= t "view.supervisor.subject.index.description" %></h3>
  <h4><%= @user_subject.subject.description %></h4>
</div>
