<div class="card">
  <div class="table-responsive">
    <h3><%= t "view.supervisor.course.show.users_on_course" %></h3>
    <%= form_for @course, url: supervisor_course_user_courses_path, method: :patch do |f| %>
      <table class="table table-bordred table-striped">
        <thead>
          <td><input type="checkbox" class="checkall" /></td>
          <th><%= t "view.supervisor.user.index.name" %></th>
          <th><%= t "view.supervisor.user.index.email" %></th>
          <th><%= t "view.supervisor.user.index.role" %></th>
          <th><%= t "view.supervisor.user.index.status" %></th>
        </thead>
          <tbody>
            <%= render partial: "supervisors_on_course", locals: {f: f} %>
            <%= render partial: "trainees_on_course", locals: {f: f} %>
          </tbody>
        <%= f.submit t("view.supervisor.assign_trainee.save"), class: "btn btn-primary" %>
      </table>
    <% end %>
  </div>
</div>
