<div class="card">
  <div class="table-responsive">
    <h3><%= t "view.supervisor.course.show.trainees_on_course" %></h3>
    <%= form_for @course, url: supervisor_course_user_courses_path, method: :patch do |f| %>
      <table class="table table-bordred table-striped">
        <thead>
          <td><input type="checkbox" class="checkall" /></td>
          <th><%= t "view.supervisor.user.index.name" %></th>
          <th><%= t "view.supervisor.user.index.email" %></th>
          <th><%= t "view.supervisor.user.index.status" %></th>
        </thead>
          <tbody>
            <%= f.collection_check_boxes :user_ids,
              @users, :id, :name, include_hidden: false do |user| %>
              <tr>
                <%= user.label class:"label-checkbox" do %>
                  <td><%= user.check_box %></td>
                  <td><%= user.object.name %></td>
                  <td><%= user.object.email %></td>
                  <% if user.object.in_process? %>
                    <td>
                      <span class="label label-success"><%= t ".in_process" %></span>
                    </td>
                  <% else %>
                    <td>
                      <span class="label label-info"><%= t ".free" %></span>
                    </td>
                  <% end %>
                <% end %>
              </tr>
            <% end %>
          </tbody>
        <%= f.submit t("view.supervisor.assign_trainee.save"), class: "btn btn-primary" %>
      </table>
    <% end %>
  </div>
</div>
