<span>
  <%= image_tag activity.owner.avatar.url,
    size: Settings.public_activity.avatar_owner %>
  <%= link_to activity.owner.name, user_path(activity.owner) %>
</span>

<span><%= yield %></span>

<span class="time-ago pull-right">
  <%= time_ago_in_words activity.created_at %>
  <%= t "view.public_activity.time_ago" %>
</span>
