<header class="navbar navbar-fixed-top header-bar">
  <div class="container">
    <%= link_to t("view.layout.TMS"), root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <% if current_user.supervisor? %>
            <%= render "layouts/supervisor_header" %>
          <% else %>
            <%= render "layouts/trainee_header" %>
          <% end %>

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <%= t "view.layout.account" %><b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to t("view.layout.profile"), "#" %></li>
              <li><%= link_to t("view.layout.account_setting"), "#" %></li>
              <li>
                <%= link_to t("view.layout.logout"), destroy_user_session_path,
                  method: :delete %>
              </li>
              <li class="divider"></li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to t("view.layout.login"), new_user_session_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
