<header class="navbar navbar-fixed-top header-bar">
  <div class="container">
    <%= link_to t("view.layout.TMS"), root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <% if current_user.supervisor? %>
            <%= render "layouts/supervisor_header" %>
          <% else %>
            <%= render "layouts/trainee_header" %>
          <% end %>

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <%= t "view.layout.account" %><b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to t("view.layout.profile"),
                user_path(current_user) %></li>
              <li><%= link_to t("view.layout.account_setting"),
                edit_user_path(current_user) %></li>
              <li>
                <%= link_to t("view.layout.logout"), destroy_user_session_path,
                  method: :delete %>
              </li>
              <li class="divider"></li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to t("view.layout.login"), new_user_session_path %></li>
          <li>
            <%= link_to user_facebook_omniauth_authorize_path do%>
              <%= image_tag("icon_facebook.png",
                class: "img-circle icon_image_social") %>
            <% end %>
          </li>
          <li>
            <%= link_to user_twitter_omniauth_authorize_path do%>
              <%= image_tag("icon_twitter.jpg",
                class: "img-circle icon_image_social") %>
            <% end %>
          </li>
          <li>
            <%= link_to user_omniauth_authorize_path(:google_oauth2) do%>
              <%= image_tag("google_plus_icon.png",
                class: "img-circle icon_image_social") %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
